# Amadeus Self-Service API credentials
# https://developers.amadeus.com で発行
AMADEUS_CLIENT_ID=
AMADEUS_CLIENT_SECRET=

# テスト環境: test.api.amadeus.com (無料)
# 本番環境: api.amadeus.com (有料)
AMADEUS_HOSTNAME=test.api.amadeus.com
